/*공통*/
:root {
    --com-bg: rgb(0, 0, 0);
    --com-border: 1px solid black;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.my-auto {
    margin: 0 auto;
}
.w-100 {
    width: 100%;
    max-width: 100%;
}
.w-50 {
    width: 50%;
    max-width: 50%;
}
h1 {
    text-align: center;
}
.d-none {
    display: none;
}
header {
    border-bottom: var(--com-border);
}
section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 1vh auto 0;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: var(--com-border);
}
.description {
    margin-top: 1vh;
    font-size: 1.125rem;
    font-weight: bold;
}
input[type=text],
input[type=number],
select {
    width: auto;
    height: 100%;
    text-align: right;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
select {
    text-align-last: center;
}
/*공통*/

/*맨먼스 - 툴팁*/
#mm_title > [data-tooltip]:hover {
    position: relative;
}
#mm_title > [data-tooltip]:hover:after {
    border: var(--com-border);
    position: absolute;
    top: 5vh;
    left: -20vw;
    width: 70vw;
    content: attr(data-tooltip);
    font-size: 1.25rem;
}
/*맨먼스 - 툴팁*/

.grade {
    display: table;
    border: var(--com-border);
    border-collapse: separate;
}
.add_row {
    margin: auto 0 0 auto;
}
#add_rows {
    padding: 0.25rem;
    width: 3vw;
    border: none;
    border-bottom: var(--com-border); 
    outline: none;
}
.result {
    margin: 2vh 0 auto auto;
}

.mm {
    font-size: 0.725rem;
    color: gray;
}

/*펼치기/접기 버튼*/
#toggle {
    text-align: center;
}
.triangle {
    transform: rotate(0deg);
}
#toggle > div {
    background: url(img/triangle-240.png) no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    line-height: 92px;
}
#toggle > div > p {
    z-index: 3;
    color: white;
}
/*펼치기/접기 버튼*/

/*계산기 아이콘*/
.calculator {
    position: fixed;
    right: 3vw;
    bottom: 3vh;
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 20px;
    text-align: center;
}
.calculator-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}
.calculator-icon {
    position: relative;
    top: 15px;
    left: 4px;
    width: 65px;
    height: 65px;
}